<div class="weeklyforecast">
  <!-- <div>
  <h1>Weekly Forecast</h1>
  </div>
  <br> -->
  <div class="day">Monday
    <div>min: {{ (weatherData.list[0].temp.min - 273).toFixed(2)  }} C</div>
    <div>max: {{ (weatherData.list[0].temp.max - 273).toFixed(2)  }} C</div>
  </div>

  <div class="day">Tuesday

  </div>

  <div class="day">Wednesday

  </div>

  <div class="day">Thursday

  </div>

  <div class="day">Friday

  </div>

  <div class="day">Saturday

  </div>

  <div class="day">Sunday
      
  </div>


</div>